@charset "UTF-8";


body {
  width: 90%;
  margin: 0 auto;
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: 0.3em;
  word-spacing: 1.0em;
  color: #B72304;
}

form {
	width: 60%;
	margin: 0px auto;
}

fieldset {
  margin: 1em auto;
  border: 3px solid darkblue;
  border-radius: 24px;
  text-align: left;
  width: 350px;
  margin:  0px auto;
  /*box-shadow: 2px 2px 0px 0px darkblue;*/
  overflow: hidden;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  color: orange;
  text-transform: uppercase;
}

div {
  margin: .4em 0;
}

div label {
  width: 25%;
  float: left;
  font-weight: bold;
}

div #button-login {
	font-size: 1em;
	font-weight: bold;
}

.center {
	text-align: center;
}

.errorMessage {
	color: red;
}

.footerText {
	font-size: .5em;
	font-family: Calibri, Arial, sans-serif;
}

.fontCalibri { 
  font-family: Calibri,Optima,Segoe,Segoe UI,Candara,Arial,sans-serif; 
}

a.button {
	font: bold 11px Arial;
    text-decoration: none;
  	background-color: #EEEEEE;
  	color: #333333;
  	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
  	border-right: 1px solid #333333;
  	border-bottom: 1px solid #333333;
  	border-left: 1px solid #CCCCCC;
}

table.shoptable {
	margin: auto;
	/*width: 600px;*/
	border-collapse: collapse;
	border: 1px solid #FFF; /*for older IE*/
	border-style: hidden;
}

table.shoptable caption {
	background-color: #F79646;
	color: #FFF;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .3em;
}

table.shoptable thead th {
	padding: 8px;
	background-color: #FDE9D9;
	font-size: large;
}

table.shoptable thead th#thDay {
	width: 40%;	
}

table.shoptable thead th#thRegular, table.shoptable thead th#thOvertime, table.shoptable thead th#thTotal {
	width: 20%;
}

table.shoptable th, table.shoptable td {
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #F79646 #CCC;
}

table.shoptable td.text {
	text-align: left;
}

table.shoptable td.money {
	text-align: right;
}

table.shoptable tbody th {
	text-align: left;
	font-weight: normal;
}

table.shoptable tfoot {
	font-weight: bold;
	font-size: large;
	background-color: #687886;
	color: #FFF;
}

table.shoptable tr.even {
	background-color: #FCF9F9;
}

div label {
  	width: 25%;
  	float: left;
  	font-weight: bold;
}

input:focus {
  background-color: #FEF9E7;
}

input:hover, select:hover {
 /* outline: none !important;*/
  border: 2px solid black;
}